<div style="margin-top:10px;">
  <h2>Seleccione una opcion</h2>
</div>

<div class="col-lg-6 col-sm-6 col-xs-6 container" style="position:relative">
  <a [routerLink]="['hoteles']">
    <div class="photo">
      <img src="../assets/imgs/imagen1.png" class="img-responsive">
    </div>
    <div class="content">
      <h5>Establecimientos</h5>
    </div>
  </a>
</div>

<div class="col-lg-6 col-sm-6 col-xs-6 container" style="position:relative">
  <a [routerLink]="['ofertas']">
    <div class="photo">
      <img src="../assets/imgs/imagen2.png" class="img-responsive">
    </div>
    <div class="content">
      <h5>Ofertas</h5>
    </div>
  </a>
</div>
