body{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(224,61,134,1) 48%, rgba(224,9,9,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(48%, rgba(255,255,255,1)), color-stop(48%, rgba(224,61,134,1)), color-stop(100%, rgba(224,9,9,1)));
  background: -webkit-linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(224,61,134,1) 48%, rgba(224,9,9,1) 100%);
  background: -o-linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(224,61,134,1) 48%, rgba(224,9,9,1) 100%);
  background: -ms-linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(224,61,134,1) 48%, rgba(224,9,9,1) 100%);
  background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(224,61,134,1) 48%, rgba(224,9,9,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e00909', GradientType=1 );
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}


#main-container{
  width: 80%;
  background-color:black;
}

.container{
  padding:0px!important;
}
