header{
  text-align:center;
  padding:20px;
  font-family: Helvetica;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 5em; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h1 span{
  background: -webkit-linear-gradient(330deg, rgba(224,61,134,1) 48%, rgba(224,9,9,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 2em; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }

h5 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 1em; font-weight: 300; line-height: 32px; margin: 0 0 72px;}
