<app-header></app-header>

<div style="margin-top:50px;">
 <h2>Seleccione una opcion</h2>
</div>
<section id="main-nav">
 <div class="col-lg-6 col-sm-6 col-xs-6 container" style="left:0%;">
   <a routerLink="/hoteles" routerLinkActive="active">
     <div class="photo">
       <img src="../assets/imgs/imagen1.png" class="img-responsive">
     </div>
     <div class="content">
       <div>
         <h5>Establecimientos</h5>
       </div>
     </div>
   </a>
 </div>

 <div class="col-lg-6 col-sm-6 col-xs-6 container" style="left:50%;">
   <a routerLink="/ofertas" routerLinkActive="active">
     <div class="photo">
       <img src="../assets/imgs/imagen2.png" class="img-responsive">
     </div>
     <div class="content">
       <div>
         <h5>Ofertas</h5>
       </div>
     </div>
   </a>
 </div>
</section>
